@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme */
:root {
  --light: #fcfcfc;
  --dark: #222;
  --primary: #b63e91;
  --secondary: #45f;
  --primary-dark: #58d6e9;
  --secondary-dark: #896;

  --foreground-color: var(--light);
  --background-color: var(--dark);
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--light);
    --background-color: var(--dark);
    --primary-color: var(--primary-dark);
    --secondary-color: var(--secondary-dark);
  }
}

.light {
  --foreground-color: var(--dark);
  --background-color: var(--light);
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);
}

.dark {
  --foreground-color: var(--light);
  --background-color: var(--dark);
  --primary-color: var(--primary-dark);
  --secondary-color: var(--secondary-dark);
}

/* font-size */

/* default */
:root {
  --h1: 80px;
  --h2: 60px;
  --h3: 40px;
  --p: 16px;
  --s: 14px;
}

/* tablet */
@media screen and (max-width: 1023px) {
  :root {
    --h1: 80px;
    --h2: 60px;
    --h3: 40px;
    --p: 16px;
    --s: 14px;
  }
}

/* phone */
@media screen and (max-width: 767px) {
  :root {
    --h1: 48px;
    --h2: 32px;
    --h3: 24px;
    --p: 14px;
    --s: 12px;
  }
}

body {
  font-size: var(--p);
  color: var(--foreground-color);
  background: var(--background-color);
}
